body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  height: calc(100vh - 78px);
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  gap: 2%;
}

.tile {
  position: relative;
  background-color: #eee;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  box-sizing: border-box;

  transition: opacity 0.2s ease-in;
  border-radius: 8px;
  border-width: 4px;
  border-style: solid;

  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  opacity: 1;

  &.tile-change {
    opacity: 0.7;
    transition: none;
  }

  &.tile-0 {
    border-style: none;
  }

  &.tile-2 {
    background-color: #eee4da;
    border-color: #d0c9bf;
  }

  &.tile-4 {
    background-color: #ede0c8;
    border-color: #ccc1b5;
  }

  &.tile-8 {
    background-color: #f2b179;
    border-color: #d5a06d;
  }

  &.tile-16 {
    background-color: #f59563;
    border-color: #d38854;
  }

  &.tile-32 {
    background-color: #f67c5f;
    border-color: #d4714f;
  }

  &.tile-64 {
    background-color: #f65e3b;
    border-color: #d65b37;
  }

  &.tile-128 {
    background-color: #edcf72;
    border-color: #d0c961;
  }

  &.tile-256 {
    background-color: #edcc61;
    border-color: #d1c55a;
  }

  &.tile-512 {
    background-color: #edc850;
    border-color: #d1c641;
  }

  &.tile-1024 {
    background-color: #edc53f;
    border-color: #d1c33b;
  }

  &.tile-2048 {
    background-color: #edc22e;
    border-color: #d1c12b;
  }
}

.score {
  margin-top: 36px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  gap: 2rem;
  position: relative;

  .score-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .score-label {
      color: #d4714f;
    }

    .score-value {
      color: #d1c33b;
      transition: opacity 0.2s ease-in;
      opacity: 1;

      &.score-change {
        opacity: 0.7;
        transition: none;
      }
    }
  }
}

.game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #e74c3c; /* Text color */
}

.reset {
  width: 40px;
  height: 40px;
  background-color: #f2b179;
  border: none;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #d4714f;
  }

  &::before {
    content: '\21BB';
    font-size: 20px;
    color: white;
    position: absolute;
  }
}

.landing-page {
  height: calc(100vh - 78px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  flex: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 5%;

  .new-game-button {
    display: inline-block;
    height: 48px;
    background-color: #eee4da;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 48px;
    transition: background-color 0.3s;
    border: 0;
    color: #333;
    padding: 0 16px;
    cursor: pointer;
  }

  .new-game-button:hover {
    background-color: #f2b179;
  }

  .jumbotron {
    background-color: #333;
    color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .jumbotron h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .jumbotron p {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
